<div class="flex flex-col items-center justify-center gap-10">
  <h1 class="font-bold text-4xl">WorkOS x Okta SSO Portal Demo</h1>
  <%= render "layouts/partials/login_card" unless authenticated? %>
  <%= render "layouts/partials/logged_in_card" if authenticated? %>
</div>
