<div role="<%= type == 'alert' ? 'alert' : 'status' %>" data-controller="hide-on-click" class="<%= flash_styling(type) %> px-25 py-6 mb-4 rounded self-stretch">
  <span><%= message %></span>
  <button data-action="hide-on-click#hide"><%= icon "cross-2", class: "inline mx-auto" %></button>
</div>